<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay">
            <ion-content>
                <ion-list id="inbox-list">
                    <ion-list-header>Pokémon</ion-list-header>
                    <ion-note>Gotta catch 'em all!</ion-note>

                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
                        <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
                                  routerLinkActive="selected">
                            <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'"
                                      [md]="p.icon + '-sharp'"></ion-icon>
                            <ion-label>{{ p.title }}</ion-label>
                            <ion-text *ngIf="p.title === 'Meus Favoritos' && favoritesCount > 0">{{favoritesCount}}</ion-text>
                        </ion-item>

                    </ion-menu-toggle>
                </ion-list>
                <ion-buttons>
                    <ion-button (click)="toggleTheme()">
                        <ion-icon slot="icon-only" name="moon"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
